@use './variables' as *;
@use './libs.scss';
@use './scaffold.scss';
@use './pins.scss';
@use './board.scss';

// 3. ШАПКА И ПОИСК
.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .fs-1 {
        font-size: 1.5rem !important;
        letter-spacing: -1px;
    }
}

.search-wrapper {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    input {
        border: none;
        background-color: $gray-light;
        height: 45px;
        transition: all 0.3s ease;

        &:focus {
            background-color: #fff;
            box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.1);
        }
    }
}

